In [ ]:
## Python is extremely  good at doing math, and can also graph functions.  the user can input mathmatical expression.
addition = +
multiplication = * 
division = / 
subtraction = - 
exponentiation = **

In [6]:
8 + 3

11

In [7]:
4 * 85

340

In [8]:
5000 / 43

116.27906976744185

In [9]:
4**10

1048576

In [10]:
879%3

0

## 1.12 integers and floats 
- float is short for "Floating point numbers " or numbers with decimels in them 
- Floats can be transfered to integers using int()
- integers can be turned into floats using float()

In [12]:
3 + 8

11

In [13]:
3.0 + 8

11.0

In [14]:
2/5

0.4

In [15]:
int(3.0)

3

In [16]:
float(4)

4.0

##1.1.3 Python Functions 
## Python can do more than just math it also has an array of other functions with unieuq abilities. 
Abs() = Absolute value 
round()=  round a number to the nearest whole number

In [17]:
abs(-4)

4

In [18]:
round(86.33)

86

##MORE PYTHON FUNCTIONS 
- len()= return the length of a string
- max() = return the largest number in a list
- min() = return the smallest number in a list
- open()= open a file
- print() = display the output
- str() = convert a number to a string 
- sum() = sum all the numbers in a list 
- tuple() = convert a list to a tuple
- type() = return the type of a variable 
- zip() = combine two lists into a dictionary

In [20]:
print(8.3145)

8.3145

In [22]:
## Python also contains a math modeule with more math functions.
- import math

SyntaxError: invalid syntax (555710824.py, line 2)

In [23]:
import math 
math.sqrt(30)

5.477225575051661

## Some other functions in the math module include:
- ceil(x) - returns the smallest integer greater than or equal to x
- cos(x) - returns the cosine of x
- degrees(x) - converts angle x from radians to degrees
- exp(x) - returns e raised to the power of x
- factorial(x) - returns the factorial of x
- floor(x) - returns the largest integer less than or equal to x
- log(x) - returns the natural logarithm of x  
- log10(x) - returns the base-10 logarithm of x
- pi - returns the value of pi
- pow(x, y) - returns x raised to the power of y
- radians(x) - converts angle x from degrees to radians

## when you want to import a specific t funcion from a package use "From"

- if you dont want to do that use (from math import*)

#1.2 Variables 
- when doing python shizz it makes it easier stroring values in "variables" it will save you alot of time when coding

In [29]:
a = 87.0 
b = 97

a + b

184.0

## 1.2.2 Complex assignment
- Python allows for complex assignment of variables allowing one vairable to change into the next.next

In [32]:
x = 5
y = x

In [33]:
y

5

In [34]:
x = 46

In [35]:
y

5

## See how the x didnt change 
- behind the scenes python keep strack of the value of x and y.  when x is changed, python creates a new value for x and y is still the same as the old x.  this is called a shallow copy.  if you want to make a deep copy of x, you can use the copy module.

##1.3 strings 
- Floats and integers store numerical data.  The other major type of data are characters which are stored in "STRINGS"

## How to 
- to create a string, you need to put the characters in quotes.  You can use single or double quotes.

In [39]:
text = 'text in single quotes'

In [40]:
print(text)

text in single quotes