In [ ]:
## Python is extremely  good at doing math, and can also graph functions.  the user can input mathmatical expression.
addition = +
multiplication = * 
division = / 
subtraction = - 
exponentiation = **

In [6]:
8 + 3

11

In [7]:
4 * 85

340

In [8]:
5000 / 43

116.27906976744185

In [9]:
4**10

1048576

In [10]:
879%3

0

## 1.12 integers and floats 
- float is short for "Floating point numbers " or numbers with decimels in them 
- Floats can be transfered to integers using int()
- integers can be turned into floats using float()

In [12]:
3 + 8

11

In [13]:
3.0 + 8

11.0

In [14]:
2/5

0.4

In [15]:
int(3.0)

3

In [16]:
float(4)

4.0

##1.1.3 Python Functions 
## Python can do more than just math it also has an array of other functions with unieuq abilities. 
Abs() = Absolute value 
round()=  round a number to the nearest whole number

In [17]:
abs(-4)

4

In [18]:
round(86.33)

86

##MORE PYTHON FUNCTIONS 
- len()= return the length of a string
- max() = return the largest number in a list
- min() = return the smallest number in a list
- open()= open a file
- print() = display the output
- str() = convert a number to a string 
- sum() = sum all the numbers in a list 
- tuple() = convert a list to a tuple
- type() = return the type of a variable 
- zip() = combine two lists into a dictionary

In [20]:
print(8.3145)

8.3145

In [22]:
## Python also contains a math modeule with more math functions.
- import math

SyntaxError: invalid syntax (555710824.py, line 2)

In [23]:
import math 
math.sqrt(30)

5.477225575051661

## Some other functions in the math module include:
- ceil(x) - returns the smallest integer greater than or equal to x
- cos(x) - returns the cosine of x
- degrees(x) - converts angle x from radians to degrees
- exp(x) - returns e raised to the power of x
- factorial(x) - returns the factorial of x
- floor(x) - returns the largest integer less than or equal to x
- log(x) - returns the natural logarithm of x  
- log10(x) - returns the base-10 logarithm of x
- pi - returns the value of pi
- pow(x, y) - returns x raised to the power of y
- radians(x) - converts angle x from degrees to radians

## when you want to import a specific t funcion from a package use "From"

- if you dont want to do that use (from math import*)

#1.2 Variables 
- when doing python shizz it makes it easier stroring values in "variables" it will save you alot of time when coding

In [29]:
a = 87.0 
b = 97

a + b

184.0

## 1.2.2 Complex assignment
- Python allows for complex assignment of variables allowing one vairable to change into the next.next

In [32]:
x = 5
y = x

In [33]:
y

5

In [34]:
x = 46

In [35]:
y

5

## See how the x didnt change 
- behind the scenes python keep strack of the value of x and y.  when x is changed, python creates a new value for x and y is still the same as the old x.  this is called a shallow copy.  if you want to make a deep copy of x, you can use the copy module.

##1.3 strings 
- Floats and integers store numerical data.  The other major type of data are characters which are stored in "STRINGS"

## How to 
- to create a string, you need to put the characters in quotes.  You can use single or double quotes.

In [39]:
text = 'text in single quotes'

In [40]:
print(text)

text in single quotes

## 1.3.2 indexing and slicing strings 
- indexing allows the user to accces a  single cjharacter in a string.
- indexes start from 0

In [42]:
seq = 'MSLFKIRMPE'

In [43]:
seq[0]

'M'

In [44]:
## see how this returns 0

## 1.3.3 String methods 
- a methid is a function that works to a specific type of object.

- example of a string object in clude Capitilize(), lower(), upper(), count(), find(), replace(), split(), join(), strip(), and format().

In [45]:
quote = 'your mom is very gross looking'

In [46]:
quote.capitalize()

'Your mom is very gross looking'

## Important string methods include 
- count(characters) retruns the number of times a character appears in a string
- find(characters) returns the index of the first occurance of a character in a string
- splitwith(sep= none) returns a list of strings that are separated by a character

## 1.3.4 String Formatting 
- you can concat two strings using the + operator
- it is necassry to convert any non string intro a string usein the Str() function

In [1]:
MW= 63.21
"Molar mass =" + str(MW) + "g/mol"

'Molar mass =63.21g/mol'

## str.format() method 
- This is just another method of adding strings together

In [5]:
compound = 'amonia'
MW = 17.03 

'The molar mas of {} is {} g/mol'.format(compound, MW)

'The molar mas of amonia is 17.03 g/mol'

## 1.4 Boolean Logic 
- these are evalutions that are either true of false 

- The is and is not Boolean opeation are not as intuitive. "These two operators test to see if two objects are the same thing (i.e., identity) or not the same thing, respectively.

In [7]:
8 > 3

True

In [8]:
8 == 8.0

True

## 1.4.2 Compound comparisons 
-  and = " test for both being true "
- or = " test for at least one being true"
- not = " test for false"

In [12]:
True and False

False

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
True or True

True

- and requires both input values to be true to return true
- the or opperator only requires 1 input value to be true to return true. 
- the not opperator returns the opposite of the input value.

## 1.4.5  alternative truth repersentation
- values 1 and 0 can be used to represent True and False 
- Python requires the bool() functioin.

In [35]:
bool(1)

True

In [36]:
bool(0)

False

- python also accepts any non zero value as true.

## 1.4.4 any() and all() functions 
- it is helpful to test if all values are true or if any values are true.
-

In [41]:
any([True, False, False])

True

In [42]:
all([True, True, False])

False

## 1.4.5 Test for inclusion 
- a test for inclusion is a test to see if a value is in a list or a string.

In [43]:
comp1 = 'Co(NH3)6'
comp2 = 'Ni(H20)6'

In [44]:
'Ni' in comp1

False

In [45]:
'Ni' in comp2

True

## 1.5 Conditions 
- conditions allow for the user to specify if and when certain lines or blocks of code are executed.

In [47]:
ph = 6.5
if ph < 7:
    print('The solution is acidic')
    print('Neutralize with a base')

The solution is acidic
Neutralize with a base

## 1.5.1 If statemetns 
- powerful way to control when a block of code is executed
- if statement should be indented

In [50]:

x =7 

if x > 5:
    y = x**2   
    print(y)

49

##1.5.2 else statements 
- else statements are used to execute code when the condition is false.
- else statements are used with if statements.

In [51]:
ph = 9 

if ph == 7: 
    print("The solution is neutral")
else: 
    print("The solution is not neutral")

The solution is not neutral

- There is  a statement elif, it only runs if the if statement is false and if the elif statement is true.

In [52]:
if ph == 7: 
    print("The solution is neutral")
elif ph > 7:
    print("The solution is basic")
else:
    print("The solution is acidic")

The solution is basic

## 1.6 list and tuples
- to avoid assigning a variable to each value you can use a list or a tuple
- list and tuples are both collections of values, numbers or strings
- list can change tuples cannont.

In [54]:
mass = [ 1.01, 5.00 , 78.33 , 44.67 , 89.33]
mass

[1.01, 5.0, 78.33, 44.67, 89.33]

In [55]:
EN = [ 2.1 , 'Na', 4.0, 3.0 , 5.6,]
EN

[2.1, 'Na', 4.0, 3.0, 5.6]

##1.6.2 indexing and slicing 
- indexing is used to access inidvuial elements in a list or string.

In [57]:
EN[0]

2.1

In [59]:
EN[1]

'Na'

In [60]:
EN[0:3]

[2.1, 'Na', 4.0]

In [62]:
EN[3:4]

[3.0]

In [63]:
EN[3:]

[3.0, 5.6]

#1.6.3 List Methods #
- Like strings list objects have a collection of methods to preform commo n task.

In [66]:
mass = [ 1.01, 5.00 , 78.33 , 44.67 , 89.33]
mass.sort()
print(mass)

[1.01, 5.0, 44.67, 78.33, 89.33]

In [67]:
mass.reverse()
print(mass)

[89.33, 78.33, 44.67, 5.0, 1.01]

In [69]:
mass.append(12.0)
print(mass)

[89.33, 78.33, 44.67, 5.0, 1.01, 12.0, 12.0]

In [70]:
mass.extend([ 1.0, 2.0, 3.0])
print(mass)

[89.33, 78.33, 44.67, 5.0, 1.01, 12.0, 12.0, 1.0, 2.0, 3.0]

## 1.6.5 Tuples 
- are another object type similiar to list except they are immutable.
- used when you want to prevent from easily chaning the values of the objects in the tuple.
- created by using parentheses () instead of brackets []

In [ ]:
nrg = (2e5, 5e4,  -3.5e3, -7.6e4, 1.2e6)

In [72]:
nrg[1] - nrg[0]

-150000.0

#1.7.1 For Loops 
- for loops are used to iterate over a sequence of values.

In [73]:
for value in [4, 7, 9, 37]:
    print(8 * value)

32
56
72
296

- this allows you to preform opperations on each element of a list or tuple. 
- the for loop does not change the original list or tuple, So create an empty list to store the value

In [75]:
numbers = [3, 5, 7, 9, 11]
squares = []
for number in numbers:
    squares.append(number**2)

In [76]:
squares

[9, 25, 49, 81, 121]