In [16]:
import numpy as np 
import pandas as pd

In [17]:
name = ['hydrogen', 'helium', 'lithium', 'beryllium','boron']
AN = [1,2,3,4,5]
mass = [1.01,4.00,6.94,9.01,10.81]
IE = [13.6, 24.6, 5.4, 9.3, 8.3]
columns = ['H', 'He', 'Li', 'Be','B'] 
index = ['name', 'AN', 'mass', 'IE']
elements = pd.DataFrame([name, AN, mass, IE], 
                        columns=columns, index=index)
elements

             H      He       Li         Be      B
name  hydrogen  helium  lithium  beryllium  boron
AN           1       2        3          4      5
mass      1.01     4.0     6.94       9.01  10.81
IE        13.6    24.6      5.4        9.3    8.3

In [18]:
df.index =['StandarState']
df

NameError: name 'df' is not defined

In [ ]:
elements_noindex = pd.read_csv('data/elements.csv')
print(elements_noindex)

  Unnamed: 0         H      He       Li         Be      B
0       name  hydrogen  helium  lithium  beryllium  boron
1         AN         1       2        3          4      5
2       mass      1.01     4.0     6.94       9.01  10.81
3         IE      13.6    24.6      5.4        9.3    8.3

In [ ]:
AR =['Atomic radiu', 120, 140, 182, 154, 192]

In [21]:
elements_noindex.loc[len(elements_noindex)] = AR
print(elements_noindex)

     Unnamed: 0         H      He       Li         Be      B
0          name  hydrogen  helium  lithium  beryllium  boron
1            AN         1       2        3          4      5
2          mass      1.01     4.0     6.94       9.01  10.81
3            IE      13.6    24.6      5.4        9.3    8.3
4  Atomic radiu       120     140      182        154    192
5  Atomic radiu       120     140      182        154    192
6  Atomic radiu       120     140      182        154    192